body {
    background: white;
    margin: 0; color: black;
    padding: 0;
}
table {
    font-size: small;
    margin: 5px; width: 100%;
    padding: 5px;
}
table td {
    vertical-align: top;
    padding: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border-width: 0;
}
a {
    font-weight: bold; color: #666666; background-color: transparent; text-decoration: none
}
a:hover {
    color: #ff6600
}
h1 {
    padding-right: 5px; padding-left: 5px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 150%; font-weight: bold; color: #000000;
}
h2 {
    padding-right: 5px; padding-left: 5px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 120%; font-weight: bold; color: #000000;
}
h3 {
    padding-right: 5px; padding-left: 5px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 100%; font-weight: bold; color: #000000;
}
h4 {

}
h5 {

}
ul {
    margin: 2px;
    padding: 2px;
    list-style: decimal inside;
    text-align: left
}
li {
    margin-left: 2px; color: #2f5376;
    list-style: square inside;
}
input.formButton {

}
.item {
    border: 1px solid #cccccc;
}
.itemHead {
    color: #ffffff;
    padding: 3px;
    background-color: #2f5376
}
.itemInfo {
    padding: 3px;
    background-color: #efefef; text-align: right
}
.itemTitle a {
    font-weight: bold; font-size: 130%; color: #ffffff; background-color: transparent; font-variant: small-caps
}
.itemPoster {
    font-size: 90%; font-style: italic
}
.itemPostDate {
    font-size: 90%; font-style: italic
}
.itemStats {
    font-size: 90%; font-style: italic
}
.itemBody {
    padding-left: 5px
}
.itemText {
    margin-top: 5px; margin-bottom: 5px; line-height: 1.5em
}
.itemText:first-letter {
    font-weight: bold; font-size: 133%
}
.itemFoot {
    padding: 3px;
    background-color: #efefef; text-align: right
}
.itemAdminLink {
    font-size: 90%
}
.itemPermaLink {
    font-size: 90%
}
th {
    vertical-align: middle; color: #000000;
    padding: 2px;
    font-family: Verdana, Arial, Helvetica, sans-serif; background-color: #eeeeee
}
td#headerbanner {
    vertical-align: middle; width: 100%; background-color: #2f5376; text-align: center
}
/* td#headerbar {
    background-image: url(hbar.gif); border-bottom: #dddddd 1px solid
} */
td#leftcolumn {
    border-right: #cccccc 1px solid; font-size: 12px; width: 170px
}
td#leftcolumn th {
    vertical-align: middle; color: #ffffff; background-color: #2f5376
}
td#leftcolumn div.blockTitle {
    font-weight: bold;
    color: #639ace;
    padding: 3px;
    background-color: #dddddd
}
td#leftcolumn div.blockContent {
    line-height: 120%;
    padding: 3px;
}
#centercolumn {
    font-size: 12px
}
#centercolumn th {
    vertical-align: middle; color: #ffffff; background-color: #2f5376
}
#centerCcolumn {
    padding: 0 3px 1px;
}
#bottomCcolumn {
    padding: 0 3px 1px;
}
#centerCcolumn .blockTitle {
    margin-top: 0;
    font-weight: bold;
    margin-left: 0; color: #639ace; margin-right: 0;
    padding: 3px;
}
#bottomCcolumn .blockTitle {
    margin-top: 0;
    font-weight: bold;
    margin-left: 0; color: #639ace; margin-right: 0;
    padding: 3px;
}
#centerCcolumn .blockContent {
    border-right: #cccccc 1px solid;
    margin-bottom: 2px;
    margin-left: 0; border-left: #cccccc 1px solid; line-height: 120%; margin-right: 0;
    padding: 3px;
    border-bottom: #dddddd 1px solid
}
#bottomCcolumn .blockContent {
    border-right: #cccccc 1px solid;
    margin-bottom: 2px;
    margin-left: 0; border-left: #cccccc 1px solid; line-height: 120%; margin-right: 0;
    padding: 3px;
    border-bottom: #dddddd 1px solid
}
#centerLcolumn {
    width: 50%;
    padding: 0 3px 0 0;
}
#bottomLcolumn {
    width: 50%;
    padding: 0 3px 0 0;
}
#centerRcolumn {
    width: 50%;
    padding: 0 3px 0 0;
}
#bottomRcolumn {
    width: 50%;
    padding: 0 3px 0 0;
}
#centerLcolumn .blockTitle {
    margin-top: 0;
    font-weight: bold;
    color: #639ace;
    padding: 3px;
}
#bottomLcolumn .blockTitle {
    margin-top: 0;
    font-weight: bold;
    color: #639ace;
    padding: 3px;
}
#centerRcolumn .blockTitle {
    margin-top: 0;
    font-weight: bold;
    color: #639ace;
    padding: 3px;
}
#bottomRcolumn .blockTitle {
    margin-top: 0;
    font-weight: bold;
    color: #639ace;
    padding: 3px;
}
#centerLcolumn .blockContent {
    border-right: #cccccc 1px solid;
    margin-bottom: 2px;
    margin-left: 2px; border-left: #cccccc 1px solid; line-height: 120%; margin-right: 3px;
    padding: 3px;
    border-bottom: #dddddd 1px solid
}
#centerRcolumn .blockContent {
    border-right: #cccccc 1px solid;
    margin-bottom: 2px;
    margin-left: 2px; border-left: #cccccc 1px solid; line-height: 120%; margin-right: 3px;
    padding: 3px;
    border-bottom: #dddddd 1px solid
}
#bottomLcolumn .blockContent {
    border-right: #cccccc 1px solid;
    margin-bottom: 2px;
    margin-left: 2px; border-left: #cccccc 1px solid; line-height: 120%; margin-right: 3px;
    padding: 3px;
    border-bottom: #dddddd 1px solid
}
#bottomRcolumn .blockContent {
    border-right: #cccccc 1px solid;
    margin-bottom: 2px;
    margin-left: 2px; border-left: #cccccc 1px solid; line-height: 120%; margin-right: 3px;
    padding: 3px;
    border-bottom: #dddddd 1px solid
}
div#content {
    padding: 8px;
    text-align: left
}
td#rightcolumn {
    font-size: 12px; border-left: #cccccc 1px solid; width: 170px
}
td#rightcolumn th {
    vertical-align: middle; color: #ffffff; background-color: #2f5376
}
td#rightcolumn div.blockTitle {
    font-weight: bold;
    color: #639ace;
    padding: 3px;
    background-color: #dddddd
}
td#rightcolumn div.blockContent {
    line-height: 120%;
    padding: 3px;
}
/* tr#footerbar {
    background-image: url(hbar.gif); text-align: center
} */
td#mainmenu a {
    display: block;
    margin: 0;
    padding: 4px;
    background-color: #e6e6e6
}
td#mainmenu a:hover {
    background-color: #ffffff
}
td#mainmenu a.menuTop {
    padding-left: 3px;
    border: 1px solid silver;
    border-right-color: #666666;
    border-bottom-color: #666666;
}
td#mainmenu a.menuMain {
    border-right: #666666 1px solid; padding-left: 3px; border-left: silver 1px solid; border-bottom: #666666 1px solid
}
td#mainmenu a.menuSub {
    border-right: #666666 1px solid; padding-left: 9px; border-left: silver 1px solid; border-bottom: #666666 1px solid
}
td#usermenu a {
    border-right: #666666 1px solid;
    display: block;
    margin: 0; border-left: silver 1px solid;
    padding: 4px;
    border-bottom: #666666 1px solid; background-color: #e6e6e6
}
td#usermenu a:hover {
    background-color: #ffffff
}
td#usermenu a.menuTop {
    border-top: silver 1px solid
}
td#usermenu a.highlight {
    background-color: #fcc
}
.outer {
    border: 1px solid silver;
}
.head {
    font-weight: bold;
    padding: 5px;
    background-color: #ffffff; border-right: silver 1px solid; border-bottom: silver 1px solid
}
.even {
    padding: 5px;
    background-color: #ffffff
}
.odd {
    padding: 5px;
    background-color: #ffffff
}
.foot {
    font-weight: bold;
    padding: 5px;
    background-color: #eeeeee
}
tr.even td {
    padding: 5px;
    background-color: #eeeeee
}
tr.odd td {
    padding: 5px;
    background-color: #ffffff
}
div.errorMsg {
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ddddff;
    border-right-color: #aaaaaa;
    border-bottom-color: #aaaaaa;
    background-color: #ffcccc; text-align: center
}
div.confirmMsg {
    font-weight: bold;
    color: #136c99;
    padding: 10px;
    border: 1px solid #ddddff;
    border-right-color: #aaaaaa;
    border-bottom-color: #aaaaaa;
    background-color: #ddffdf; text-align: center
}
div.resultMsg {
    font-weight: bold;
    color: #333333;
    padding: 10px;
    border: 1px solid silver;
    border-right-color: #666666;
    border-bottom-color: #666666;
    background-color: #cccccc; text-align: center
}
div.xoopsCode {
    background: #ffffff;
    padding: 0 6px 6px;
    border: 1px inset #000080;
    font-family: "Courier New",Courier,monospace
}
div.xoopsQuote {
    background: #ffffff;
    padding: 0 6px 6px;
    border: 1px inset #000080;
    font-family: "Courier New",Courier,monospace
}
.comTitle {
    font-weight: bold; margin-bottom: 2px
}
.comText {
    padding: 2px;
}
.comUserStat {
    font-weight: bold; font-size: 10px;
    margin: 2px;
    color: #222222;
    padding: 2px;
    border: 1px solid silver;
    background-color: #ffffff
}
.comUserStatCaption {
    font-weight: normal
}
.comUserStatus {
    margin-top: 10px; font-weight: bold; font-size: 10px; margin-left: 2px; color: #222222; display: none
}
.comUserRank {
    margin: 2px
}
.comUserRankText {
    font-weight: bold; font-size: 10px
}
.comUserRankImg {
    border-width: 0;
}
.comUserName {

}
.comUserImg {
    margin: 2px
}
.comDate {
    font-weight: normal; font-size: smaller; font-style: italic
}
.comDateCaption {
    font-weight: bold; font-style: normal
}

img {
    border-width: 0;
}
.snouter {
    padding-right: 5px; padding-left: 5px;
    border: 1px solid silver;
}
.snhead {
    font-weight: bold;
    padding: 5px;
    background-color: #ffffff;  border-bottom: silver 1px solid; width: 20%
}
.sndata {
    font-weight: normal;
    padding: 5px;
    background-color: #ffffff; border-left: silver 1px solid; border-bottom: silver 1px solid
}
.sndataem {
    font-weight: bold;
    padding: 5px;
    background-color: #ffffff; border-left: silver 1px solid; border-bottom: silver 1px solid
}
.modal-dialog { display: none; }
.btn-comment { display: none; }
.hidden { display: none; }
.xoops-comment-author { display: none; }
.commentform { display: none; }
